*.egg*
*.pyc
.idea
*~
*.egg-info
*.DS_Store
.*swp
*.suo
Temp/*
Library/*
Builds/*
*.sln
*.userprefs
*.csproj
*.unityproj
Assets/ColliderMeshes/*
Assets/Models/Props/*
*output_log.txt
*nohup.out
obj/Debug/*
*.meta
*.prefab
*.bundle
*.manifest
*.x86
*.x86_64
*.exe
*_Data/
*.mat
